table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  table-layout: fixed;
}

.mat-table {
  height: 100%;
}

.table-row {
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.table-row:hover {
  background-color: rgba(74, 144, 226, 0.1);
}

.mat-row,
.mat-header-row {
  height: 30px !important;
}

.mat-cell,
.mat-header-cell {
  padding: 4px 16px; /* Reduced vertical padding */
  text-align: left;
  vertical-align: middle;
}

#hiddenMenuTrigger {
  position: fixed;
  z-index: 1000;
  width: 0;
  height: 0;
  pointer-events: none;
}
