.rooms-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.top-section {
  flex: 1; /* Take up half the screen */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.bottom-section {
  flex: 1; /* Take up the other half of the screen */
  overflow-y: auto; /* Allow scrolling if the table content overflows */
}
