<mat-card class="device-card">
    <mat-card-header>
        <div mat-card-avatar>
            <!-- Optionally, put an avatar or icon here -->
        </div>
        <mat-card-title>
            {{ product().name }}
        </mat-card-title>
        <mat-card-subtitle>
            {{ product().ieeeAddress }}
        </mat-card-subtitle>
        <span class="device-status-icon" [ngClass]="{'online': product().state, 'offline': !product().state}">
            <mat-icon>
                {{ product().state ? 'check_circle' : 'cancel' }}
            </mat-icon>
        </span>
    </mat-card-header>

    <mat-card-content>
        <div class="device-details">
            <div><strong>{{'create.product.link_quality' |translate}}</strong> {{ linkQuality }} lqi</div>
        </div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <span>{{'create.product.show_capabilities' | translate}}</span>
            </mat-expansion-panel-header>
            <div class="capabilities-grid">
                @for (cap of product().SupportedProduct.ProductCapabilities; track cap.id) {
                <div class="capability-row" [matTooltip]="cap.description | zigbee2mqttTranslate:'featureDescriptions'"
                    matTooltipPosition="above">
                    <span class="cap-label">{{ languageService.currentLanguage().code === 'hu' ? (cap.property |
                        zigbee2mqttTranslate:'featureNames') : cap.label
                        }}:</span>
                    <span>
                        <span>
                            @if (cap.type === 'numeric' && cap.NumericExpose) {
                            <app-custom-numeric [numericExposed]="cap.NumericExpose" [access]="cap.access"
                                (valueChanged)="onValueChange($event, cap)"
                                [value]="cap.deviceState.numericValue || 0"></app-custom-numeric>
                            }
                            @if (cap.type === 'enum') {
                            <mat-form-field appearance="outline" class="enum-select compact-select">
                                <mat-select [value]="cap.deviceState.textValue"
                                    (valueChange)="onValueChange($event, cap)">
                                    @for (option of cap.EnumExpose?.values; track option) {
                                    <mat-option [value]="option">{{ option }}</mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                            }
                            @if (cap.type === 'binary' && cap.BinaryExpose) {
                            <app-custom-mat-slide-toggle [currentValue]="cap.deviceState.boolValue"
                                [offValue]="cap.BinaryExpose.value_off" [onValue]="cap.BinaryExpose.value_on"
                                (stateChanged)="onValueChange($event, cap)">
                                {{ cap.deviceState.boolValue }}
                            </app-custom-mat-slide-toggle>
                            }
                        </span>
                    </span>
                </div>
                }
            </div>
        </mat-expansion-panel>
    </mat-card-content>
</mat-card>