<div class="login-container">
    <mat-card class="login-card">
        <mat-card-header>
            <mat-card-title>Login to Celestara</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                @if (loginError) {
                <mat-error class="login-error">
                    Invalid username or password. Please try again.
                </mat-error>
                }

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Username</mat-label>
                    <input autocomplete="username" matInput formControlName="username" required>
                    <mat-icon matPrefix>person</mat-icon>
                    @if (loginForm.get('username')?.hasError('required')) {
                    <mat-error>
                        Username is required
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Password</mat-label>
                    <input autocomplete="current-password" matInput [type]="hidePassword ? 'password' : 'text'"
                        formControlName="password" required>
                    <mat-icon matPrefix>lock</mat-icon>
                    <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    @if (loginForm.get('password')?.hasError('required')) {
                    <mat-error>
                        Password is required
                    </mat-error>
                    }
                </mat-form-field>

                <div class="form-actions">
                    <button [disabled]="!loginForm.valid" mat-raised-button color="primary" type="submit">
                        Login
                    </button>
                </div>
            </form>
        </mat-card-content>

        <mat-card-footer>
            <div class="register-prompt">
                <span>Don't have an account?</span>
                <a mat-button color="accent" routerLink="/auth/registration">Register</a>
            </div>
        </mat-card-footer>
    </mat-card>
</div>