@use '@angular/material' as mat;

html {
  color: #000000;
  html {
    @include mat.theme(
      (
        color: mat.$violet-palette,

        typography: Roboto,
        density: 0,
      )
    );
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #1c3d5a;
}

:root {
  @include mat.toolbar-overrides(
    (
      container-background-color: #4ad0e2,
      container-text-color: #000000,
    )
  );

  .success-snackbar {
    --mdc-snackbar-container-color: #2bbe68 !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
  }

  .error-snackbar {
    --mdc-snackbar-container-color: #ff3737 !important;
    --mdc-snackbar-supporting-text-color: white !important;
    --mat-mdc-snack-bar-button-color: white !important;
  }

  .warn-button-container {
    @include mat.button-overrides(
      (
        filled-container-color: red,
        filled-label-text-color: white,

        outlined-outline-color: red,
        outlined-label-text-color: red,
      )
    );
  }
}

.warnButton {
  @include mat.button-overrides(
    (
      filled-container-color: red,
      filled-label-text-color: white,

      outlined-outline-color: red,
      outlined-label-text-color: red,
    )
  );
}
