.small-mat-input {
  max-width: 90px;
  font-size: 13px;
  margin-bottom: 0;
}

.small-mat-input .mat-input-element {
  padding: 4px 6px;
  font-size: 14px;
  height: 24px;
}

.small-mat-input .mat-form-field-outline {
  border-radius: 6px;
}

.small-mat-input .mat-form-field-label {
  top: -1.2em;
  font-size: 12px;
}
