<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [opened]="sidenavOpened" position="start" [mode]="sidenavMode" class="sidenav">
        <ng-scrollbar [trackClass]="'scroll_track'" [thumbClass]="'scroll_thumb'" [buttonClass]="'scroll_button'"
            [appearance]="'compact'">
            <div class="room-cards">
                @for (room of roomsWithProductNumbers; track room.id) {
                <mat-card class="room-card" (click)="selectRoom(room)">
                    <mat-card-header>
                        <mat-card-title>{{room.name}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{('rooms.active_devices' | translate) + room.activeDevices}}</p>
                    </mat-card-content>
                </mat-card>
                }
            </div>
        </ng-scrollbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <button mat-icon-button style="background-color: aliceblue;" (click)="sidenav.toggle()">
            <mat-icon>
                {{
                sidenavMode === 'side'
                ? (sidenav.opened ? 'arrow_left' : 'arrow_right')
                : 'arrow_right'
                }}
            </mat-icon>
        </button>
        @if (selectedRoom) {
        <div [@roomTransition]="selectedRoom.id">
            <app-room [roomId]="selectedRoom.id"></app-room>
        </div>
        } @else {
        <div class="placeholder">
            <h2>{{'rooms.select_room' | translate}}</h2>
        </div>
        }
    </mat-sidenav-content>
</mat-sidenav-container>