<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened position="start" class="sidenav">
        <ng-scrollbar [trackClass]="'scroll_track'" [thumbClass]="'scroll_thumb'" [buttonClass]="'scroll_button'"
            [appearance]="'compact'">
            <div class="room-cards">
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
                <mat-card class="room-card">
                    <mat-card-header>
                        <mat-card-title>Room</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <p>Active devices: 2</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </ng-scrollbar>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="placeholder">
            <h2>Main content for now</h2>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>